.aside-wrapper {
  margin-inline: 1.5rem;
  margin-block-start: 3rem;
  background: var(--white);
  border-radius: 2rem;
  font: var(--error-description);
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

}
.aside-wrapper p:nth-child(1) {
  padding: 2rem;
  text-align: center;
}