.main-wrapper {
  margin-inline: 1rem;
}
.warning-text p{
  font: var(--warning-text);
  color: var(--red);
  position: relative;
  padding-inline-start: 1.25rem;
}
.warning-text img {
  position: absolute;
}
.buttons-container {
  margin-block-start: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.input-container {
  margin-block-start: 5rem;
}
.input-container textarea{
  font: var(--output-text);
  color: var(--d-blue300);
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  height: 12rem;
  width: 100%;
}
.input-container textarea::placeholder {
  font: var(--input-text);
  color: var(--d-blue300);
}


@media screen and (min-width: 768px) {
  .buttons-container {
    margin-inline: 6.25rem;
  }
}
@media screen and (min-width: 980px) {
  .buttons-container {
    margin-inline: 0;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  .input-container {
    margin-block-start: 1rem;
  }
  .input-container textarea {
    width: 90%;
    height: 15.625rem;
  }
}