@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import './reset.css';
@import './style-guide.css';
@import './button-style.css';
@import './header.css';
@import './input-section.css';
@import './aside.css';
@import './footer.css';
@import './darkMode.css';

body {
  font: var(--font-base);
}
.gradient-background--light {
  background: linear-gradient(300deg,#8685ef,#f3f5fc,#f3f5fc,#8685ef);
  background-size: 240% 240%;
  animation: gradient-animation-l 24s ease infinite;
}

@keyframes gradient-animation-l {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.none {
  display: none;
}
.hidden {
  visibility: hidden;
}
::-webkit-scrollbar{
  background: var(--d-blue500);
}
::-webkit-scrollbar-thumb{
  background: var(--l-blue400);
  border-radius: 0.625rem;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active{
  background-color: var(--red);
}


@media screen and (min-width: 980px) {
  body {
    height: 100vh;
  }
  .grid-wrapper {
  height: 85%;
  margin-inline: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 1.3fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "header-wrapper header-wrapper aside-wrapper aside-wrapper"
  "main-wrapper main-wrapper aside-wrapper aside-wrapper"
  "main-wrapper main-wrapper aside-wrapper aside-wrapper";
  }

  
  .header-wrapper { grid-area: header-wrapper; }
  
  .main-wrapper { grid-area: main-wrapper; }
  
  .aside-wrapper { grid-area: aside-wrapper; }
  
}
